h1 {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.newHeader {
    display: flex;
    padding: 10px;
    width: 100%;
    margin: 10px auto;
    align-items: center;
    background-color: #eee;
}

.newHeader .heading {
    margin-left: 10%;
    margin-right: auto;
    vertical-align: center;
}

.newHeader .auth {
    margin-left: auto;
    margin-right: 10%;
    vertical-align: center;
}

.welcome {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 2px 12px;
    margin-left: 60px;
}

.navlinks {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navlinks .navlink {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 6px 12px;
    text-decoration: none;
    color: #909;
}

@media screen and (max-width: 1280px) {
    h1 {
        font-size: 18px;
    }

    .newHeader .heading {
        margin-left: 5%;
    }
    
    .newHeader .auth {
        margin-right: 5%;
    }

    .welcome {
        font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        margin: 2px 12px;
        margin-left: 30px;
    }

    .navlinks .navlink {
        margin: 6px 8px;
    }
}

